.dashboard {
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.dashboard-metrics {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.dashboard-actions {
  margin-top: 2rem;
}

.actions-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.action-button {
  padding: 0.8rem 1.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff982c; /* Naranja */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #e67e22; /* Naranja más oscuro */
}
